<div class="tought-form-container auth-container">
  <a href="/toughts/dashboard">Voltar</a>

  <h1>Criar um pensamento</h1>

  <form action="/toughts/add" method="POST">
    <div class="form-control">
        <label for="title">Pensamento:</label>
        <input type="text" name="title" id="title" placeholder="O que você está pensando?">
    </div>

    <input type="submit" value="Criar pensamento">
  </form>
</div>