<div class="tought-form-container auth-container">
  <a href="/toughts/dashboard">Voltar</a>

  <h1>Editando meu pensamento</h1>

  <form action="/toughts/edit" method="POST">
  <input type="hidden" name="id" value="{{tought.id}}">
    <div class="form-control">
      <label for="title">Pensamento:</label>
      <input
        type="text"
        name="title"
        id="title"
        value="{{tought.title}}"
      />
    </div>

    <input type="submit" value="Editar" />
  </form>
</div>